.square {
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 300px;
    background-color: orange;
    
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 5px;
}

body {
    display: flex;
    justify-content: center;
    
}