.square {
  height: 50px;
  width: 100px;
  background-color: orange;
}

body {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}

.title-a {
  grid-area: titleA;
  background-color: orange; 
  height: 10vh;
}

.title-b {
  grid-area: titleB;
  background-color: #a07a94; 
  height: 10vh;
}

.title-c {
  grid-area: titleC;
  background-color: #72cdfe; 
  height: 10vh;
}

.title-d {
  grid-area: titleD;
  background-color: #d7d45a; 
  height: 10vh;
}

.item-b {
  grid-area: main;
  background-color: green;
  height: 10vh;
}

.item-c {
  grid-area: sidebar;
  background-color: teal;
}

.item-d {
  grid-area: footer;
  background-color: yellow;
}

.grid-container {
  display: grid;
  background-color: pink;
  grid-template-columns: 90px 90px 90px 90px;
  grid-template-rows: auto;
  grid-template-areas:
  "titleA titleB titleC titleD"
  "main main . ."
  ". . . ."

  ;
  gap: 10px;
  height: 80vh;
  width: 100%;
  grid-auto-flow: column;
 // justify-items: center;
  //place-items: center;
  
}

.add-item-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7a470;
  margin: 0 auto;

  
}
